#header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background: url("../images/sarah2.jpg") no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  padding: 100px 0;

  .brand {
    position: relative;
    color: white;
    text-align: center;

    .brand-name {
      font-size: 55px;
      font-weight: 300;

      .emphasised {
        font-weight: 800;
      }
    }

    .brand-description {
      font-size: 20px;
      margin-top: 20px;
    }

    .brand-contact {
      font-size: 14px;
      margin-top: 40px;

      a {
        color: white;
        border: 2px solid white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        padding: 15px;
        text-decoration: none;

        &:hover {
          color: rgba(255, 255, 255, 0.7);
          border-color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

@media screen and (min-width: 48em) { // Same media query for Pure's "md" grid.
  #header {
    height: 100%;
    width: 100%;
    padding: 0;

    .brand {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      margin: auto;

      .brand-name {
        font-size: 70px;
      }

      .brand-description {
        font-size: 25px;
        margin-top: 30px;
      }

      .brand-contact {
        font-size: 18px;
        margin-top: 50px;
      }
    }
  }
}

@media screen and (min-width: 64em) { // Same media query for Pure's "lg" grid.
  #header {
    background-attachment: fixed;

    .brand {
      .brand-name {
        font-size: 85px;
      }

      .brand-description {
        font-size: 30px;
      }

      .brand-contact {
        font-size: 22px;
      }
    }
  }
}
