#header {
  padding: 100px 0;
  background: url("../images/sarah2.jpg") no-repeat center center;
  background-attachment: scroll;
  background-size: cover;

  .brand {
    position: relative;
    color: white;
    text-align: center;

    .brand-name {
      font-size: 40px;
      font-weight: 300;

      .emphasised {
        font-weight: 600;
      }
    }

    .brand-description {
      font-size: 12px;
      font-weight: 100;
      letter-spacing: 2px;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 48em) { // Same media query for Pure's "md" grid.
  #header {
    height: 100%;
    width: 100%;
    padding: 0;

    .brand {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
      margin: auto;

      .brand-name {
        font-size: 56px;
      }

      .brand-description {
        font-size: 16px;
        margin-top: 30px;
      }
    }

    .see-more {
      position: absolute;
      width: 100%;
      bottom: 50px;
      text-align: center;

      .mouse {
        // TODO
      }
    }
  }
}

@media screen and (min-width: 64em) { // Same media query for Pure's "lg" grid.
  #header {
    background-attachment: fixed;
  }
}
