#header {
  width: 100%;
  height: 100%;
  background: url("../images/sarah2.jpg") no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  color: white;
  text-align: center;

  .top {
    position: absolute;
    top: 20px;
    width: 100%;

    a {
      font-size: 30px;
      color: inherit;

      &:hover {
        filter: opacity(70%);
      }

      + a {
        margin-left: 15px;
      }
    }
  }

  .middle {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 40px;

    .weak {
      font-weight: 300;
    }

    .strong {
      font-weight: 600;
    }
  }

  .bottom {
    position: absolute;
    bottom: 50px;
    width: 100%;

    .mouse {
      margin: 0px auto;
      width: 30px;
      height: 50px;
      border: 2px solid white;
      border-radius: 15px;

      .scrollwheel {
        position: relative;
        left: 13px;
        width: 4px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        animation: scrolling 1.2s ease-out infinite;

        @keyframes scrolling {
          0% {
            opacity: 1;
            top: 20px;
            height: 4px;
          }

          100% {
            opacity: 0;
            top: 8px;
            height: 8px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 48em) { // Same media query for Pure's "md" grid.
  #header {
    .middle {
      font-size: 56px;
    }
  }
}

@media screen and (min-width: 64em) { // Same media query for Pure's "lg" grid.
  #header {
    background-attachment: fixed;
  }
}
