#navbar {
  position: absolute;
  top: 20px;
  left: 20px;

  a {
    font-size: 30px;
    color: white;

    &:hover {
      filter: opacity(70%);
    }

    + a {
      margin-left: 15px;
    }
  }
}
